.control {
  color: darkslategrey;
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}

.wrapper {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  background-color: var(--mantine-color-lightSlateGreen-1);
  height: 600px;
}

.slide {
  max-width: 1000px;
}

.viewport {
  max-width: 1200px;
  margin: 0 auto;
  height: 500px;
}

.controls {
  max-width: 1300px;
  margin: 0 auto;
}

.controlIcon {
  padding: 4px;
  height: 40px;
  width: 40px;
}

.card {
  box-shadow: 1px 1px 12px #0000001a;
}
