.root {
  /* background-color: #11284b; #bf9f9a; #70917f*/
  min-height: 100vh;
  background-color: #9f9b9a;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-image:
    linear-gradient(250deg, rgba(130, 201, 30, 0) 0%, #0f4c5c 62%), url("/images/hs-muslim-woman-and-child.jpg");
  padding-top: calc(var(--mantine-spacing-xl) * 3);
  padding-bottom: calc(var(--mantine-spacing-xl) * 5);
  &.rtl {
    /* transform: scaleX(-1); */
    background-image:
      linear-gradient(85deg, rgba(130, 201, 30, 0) 0%, #0f4c5c 75%), url("/images/hs-muslim-woman-and-child.jpg");
    background-position: left;
  }

  @media (max-width: $mantine-breakpoint-md) {
    text-align: center;
    background-image:
      linear-gradient(0deg, rgba(130, 201, 30, 0) 0%, #0f4c5c 50%), url("/images/hs-muslim-woman-and-child.jpg");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: calc(var(--mantine-spacing-xl) * 1);
    padding-bottom: calc(var(--mantine-spacing-xl) * 14);
  }

  @media (max-width: $mantine-breakpoint-xs) {
    background-size: contain;
    background-repeat: no-repeat;
    background-image:
      linear-gradient(0deg, rgba(130, 201, 30, 0) 0%, #0f4c5c 24%), url("/images/hs-muslim-woman-and-child.jpg");

    padding-bottom: calc(var(--mantine-spacing-xl) * 9);
  }
}

.inner {
  display: flex;
  justify-content: space-between;

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
  }
}

.image {
  @media (max-width: $mantine-breakpoint-md) {
    display: none;
  }
}

.content {
  position: relative;
  justify-content: center;
  align-items: flex-start;
  padding-top: 15vh;
  padding-bottom: 10vh;
  margin-right: calc(var(--mantine-spacing-xl) * 2);
  animation: 1s fadeInLeft ease-in-out;

  @media (max-width: $mantine-breakpoint-md) {
    animation: 1s fadeInUp ease-in-out;
    margin-right: 0;
  }
  &.rtl {
    margin-right: calc(var(--mantine-spacing-xl) * 1);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.title {
  color: rgba(255, 253, 253, 1);
  /* font-family: Outfit, var(--mantine-font-family); */
  font-weight: 600;
  line-height: 1.05;
  max-width: 500px;
  font-size: 60px;

  @media (max-width: $mantine-breakpoint-md) {
    max-width: 100%;
    font-size: 34px;
    line-height: 1.15;
  }
}

.description {
  color: var(--mantine-color-white);
  opacity: 0.85;
  font-size: 24px;
  font-weight: 500;
  max-width: 500px;
  line-height: 1.7;

  @media (max-width: $mantine-breakpoint-md) {
    font-size: 20px;
    line-height: 1.5;
    max-width: 100%;
  }
}

.control {
  padding-left: 50px;
  padding-right: 50px;
  /* font-family: Outfit, var(--mantine-font-family); */
  font-size: 22px;

  @media (max-width: $mantine-breakpoint-md) {
    width: 100%;
  }
}
