.header {
  height: 56px;
  margin-bottom: 120px;
  background-color: var(--mantine-color-body);
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  box-shadow: 0 0 4px #0003;
  @media (max-width: $mantine-breakpoint-lg) {
    height: 64px;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    box-shadow: none;
  }
}

.link {
  display: inline-block;
  position: relative;
  align-items: center;
  margin-left: var(--mantine-spacing-md);
  margin-right: var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: var(--mantine-color-black);
  font-size: 17px;
  font-weight: 550;
}
& .active {
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-thickness: 3px;
  text-decoration-color: #ffaa00;
}

.link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #ffaa00;
  transition: transform 0.25s ease-out;
}

.link:not(.active):hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.dropdown {
  max-width: 230px;
  color: rgb(66, 64, 64);
}

.item {
  display: inline-block;
  position: relative;
  align-items: center;
  padding-left: var(--mantine-spacing-lg);
  padding-right: var(--mantine-spacing-lg);
  border-radius: var(--mantine-radius-sm);
  text-decoration: none;
  color: var(--mantine-color-black);
  font-size: var(--mantine-font-size-md);
  font-weight: 600;
  background-color: none;
  &:hover {
    color: #005350;
  }
}

.item:hover::before {
  content: ">";
  color: #005350;
  position: absolute;
  left: 3px;
  top: 6px;
  font-size: 16px;
  opacity: 1;
  font-weight: 800;
  transition: opacity 0.25s ease-out;
}

.logo {
  width: auto;
  font-size: larger;
  font-weight: 600;
  text-decoration: none;
  color: var(--mantine-color-gray-8);
  margin-top: 2px;
  cursor: pointer;
}
